html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   color: black;
}



body{

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.background{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    
}

.foreground {
    background-color: white;
    display: flex;
    width: 1400px;
    height: 800px;
  
    background-size: cover;
    border: 2px black solid;
    border-radius: 25px;
    box-shadow: 
    10px 10px 6px 0px rgba(0,0,0,0.3);
   background-image: url(../sign-up-form/pics-icons/front.jpg);
  background-size: 100% 100%;

}

.foreground-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
    margin-top: -250px;
}

header{
width: 100%;

margin-top: 50px;

}

header h2{
    width: 600px;
    
}


main{
    
    width: 100%;
    height: 350px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
   color: black;
   margin-bottom: -100px;
  
}

.content{
    width: 100%;
    

}

form div{
    margin-right: 50px;
}

fieldset{
    border: none;
    padding: 0;
    margin-bottom: 50px;
   display: flex;
   gap: 50px;
 
}

label{
    display: block;
    width: 150px;
    margin-left: 5px;
}
input{
    display: block;
    
    width: 200px;
    height: 35px;
    border-style: none;
    border: 2px black solid;
    border-radius: 10px;
    box-shadow: 
    3px 3px 6px 0px rgba(0,0,0,0.3);
    font-size: 16px;
    padding-left: 10px;
    outline: none;
}

.logo-background{
    width: 700px;
   
    border-top-left-radius: 25px;
    border-bottom-left-radius: 23px;
    
}

footer{
    display: flex;
    
   justify-content: flex-start;
   width: 100%;
    
   
}

footer div{
    
    display: flex;
    gap: 50px
}

button{
    width: 200px;
    height: 50px;
    color: white;
    background-color: black;
    border-style: none;
    border-radius: 20px;
    transition: transform .2s;
    font-size: 18px;
}

button:hover{
    cursor: pointer;
    transform: scale(1.15);
    
}

hr{
    height: 2px;
    border-style: none;
    background-color: black;
    margin-bottom: 50px;
 
}

.wrong{
    border-color: red;
}